{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Add Exam {% ednblock %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="card shadow border-0" style="width: 100%; max-width: 400px;">
            <div class="card-body p-4">
                <h3 class="text-center mb-4">Add Exam</h3>

                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary w-100">Add</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}