aiohttp==3.8.1
aiosignal==1.3.1
alabaster==0.7.8
amqp==5.3.1
anyio==3.7.1
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
asgiref==3.4.1
astroid==2.3.3
async-timeout==4.0.3
asyncer==0.0.2
attrs==24.2.0
Babel==2.6.0
backcall==0.1.0
backports.zoneinfo==0.2.1
bcrypt==3.1.7
beautifulsoup4==4.8.2
bidict==0.23.1
billiard==4.2.1
bleach==3.1.1
blinker==1.7.0
Brlapi==0.7.0
Brotli==1.1.0
celery==5.4.0
certifi==2021.5.30
cffi==1.16.0
chardet==3.0.4
charset-normalizer==2.0.4
click==8.1.3
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==1.3.0
colorama==0.4.3
coloredlogs==15.0.1
command-not-found==0.3
configobj==5.0.6
crispy-bootstrap5==0.7
cron-descriptor==1.4.5
cryptography==2.8
cssselect2==0.7.0
cupshelpers==1.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distlib==0.3.0
distro==1.4.0
dj-database-url==0.5.0
Django==3.2.5
django-celery-beat==2.7.0
django-crispy-forms==2.3
django-embed-video==1.4.0
django-environ==0.9.0
django-rest-framework==0.1.0
django-timezone-field==7.1
django-widget-tweaks==1.5.0
djangorestframework==3.11.0
docutils==0.16
entrypoints==0.3
exceptiongroup==1.2.2
fastapi==0.87.0
feedparser==5.2.1
ffmpeg==1.4
filelock==3.0.12
filetype==1.2.0
Flask==3.0.2
Flask-SocketIO==5.3.6
flatbuffers==24.3.25
flower==2.0.1
fonttools==4.43.1
frozenlist==1.4.1
fsspec==2025.3.0
future==1.0.0
Genshi==0.7.3
grpcio==1.16.1
gunicorn==20.1.0
h11==0.14.0
html2text==2020.1.16
html5lib==1.1
httplib2==0.14.0
huggingface-hub==0.29.3
humanfriendly==10.0
humanize==4.10.0
idna==3.2
ifaddr==0.1.6
ImageHash==4.3.1
imageio==2.35.1
imagesize==1.2.0
IMDbPY==6.8
importlib_metadata==7.0.2
ipykernel==5.2.0
ipython==7.13.0
ipython_genutils==0.2.0
iso8601==2.1.0
isort==4.3.4
itsdangerous==2.1.2
jedi==0.15.2
Jinja2==3.1.3
joblib==1.4.2
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-core==4.6.3
keyring==18.0.1
kombu==5.5.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
llvmlite==0.41.1
logilab-common==1.4.3
louis==3.12.0
lxml==4.5.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==2.1.5
mccabe==0.6.1
mistune==0.8.4
mock==3.0.5
more-itertools==4.2.0
mpmath==1.3.0
multidict==6.1.0
mutagen==1.47.0
nbconvert==5.6.1
nbformat==5.0.4
nemo-emblems==5.2.0
netaddr==0.7.19
netifaces==0.10.4
networkx==3.1
nltk==3.9.1
numba==0.58.1
numpy==1.23.5
numpydoc==0.7.0
oauthlib==3.1.0
onboard==1.4.1
onnxruntime==1.13.1
opencv-python-headless==4.6.0.66
packaging==20.3
PAM==0.4.2
pandocfilters==1.4.2
parso==0.5.2
passlib==1.7.2
pbr==5.4.5
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.3.0
polib==1.1.0
pooch==1.6.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
proteus==5.0.7
protobuf==3.6.1
psutil==5.5.1
psycopg2==2.8.4
psycopg2-binary==2.9.3
pycairo==1.16.2
pycodestyle==2.5.0
pycparser==2.21
pycrypto==2.6.1
pycryptodomex==3.21.0
pycups==1.9.73
pycurl==7.43.0.2
pydantic==1.10.18
pydot==1.4.1
pydyf==0.8.0
pyflakes==2.1.1
Pygments==2.3.1
PyGObject==3.36.0
PyICU==2.4.2
pyinotify==0.9.6
PyJWT==1.7.1
pylint==2.4.4
pymacaroons==0.13.0
PyMatting==1.1.8
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyparted==3.11.2
pyphen==0.14.0
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.15.5
pyserial==3.5
pysvn==1.9.9
python-apt==2.0.1+ubuntu0.20.4.1
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-debian==0.1.36+ubuntu1.1
python-engineio==4.9.0
python-Levenshtein==0.12.0
python-magic==0.4.16
python-multipart==0.0.5
python-socketio==5.11.1
python-sql==1.1.0
python-stdnum==1.13
python-xapp==2.2.1
python-xlib==0.23
pytz==2021.1
PyWavelets==1.4.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==18.1.1
QtAwesome==0.4.4
qtconsole==4.6.0
QtPy==1.9.0
regex==2024.11.6
relatorio==0.9.1
rembg==2.0.28
reportlab==3.5.34
requests==2.32.3
requests-file==1.4.3
requests-unixsocket==0.2.0
rest-framework-generic-relations==2.0.0
roman==2.0.0
rope==0.10.5
safetensors==0.5.3
scikit-image==0.19.3
scipy==1.9.3
SecretStorage==2.3.1
serial==0.0.97
setproctitle==1.1.10
simple-websocket==1.0.0
simplejson==3.16.0
sip==4.19.21
six==1.16.0
sniffio==1.3.1
soupsieve==1.9.5
Sphinx==1.8.5
spyder==3.3.6
spyder-kernels==0.5.2
sqlparse==0.4.1
starlette==0.21.0
sympy==1.13.3
systemd-python==234
testpath==0.4.4
tifffile==2023.7.10
tinycss2==1.2.1
tldextract==2.2.1
tokenizers==0.20.3
tornado==5.1.1
tqdm==4.64.1
traitlets==4.3.3
transformers==4.46.3
trytond==5.0.16
trytond-country==5.0.1
trytond-party==5.0.2
typecatcher==0.3
typing_extensions==4.12.2
tzdata==2025.2
ubuntu-drivers-common==0.0.0
ufw==0.36
Unidecode==1.1.1
urllib3==2.2.3
uvicorn==0.20.0
vine==5.1.0
virtualenv==20.0.17
wadllib==1.3.3
watchdog==2.1.9
wcwidth==0.1.8
weasyprint==60.1
webencodings==0.5.1
websocket-client==1.7.0
websockets==13.1
Werkzeug==3.0.1
whitenoise==5.3.0
wrapt==1.11.2
wsproto==1.2.0
xkit==0.0.0
xlrd==1.1.0
yarl==1.13.1
youtube-dl==2021.4.26
yt-dlp==2024.10.22
zipp==1.0.0
zopfli==0.2.3
