{% extends 'base.html' %}

{% block title %} Lesson Notes {% endblock %}

{% block extra_head %}
    <style>
        .custom-img {
            width: 400px;
            height: 400px;
            object-fit: cover;
            display: block;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <br>
        <div class="card glass-card">
            <div class="card-body">
                 <h2>Sub-Strands List for {{ strand }}.</h2>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <ol>
            {% for item in sub_strands_list %}
                 <h3><li>{{ item.name }}</li></h3>
                {% for out_come in item.learning_outcomes.all %}
                <p><strong><h5>Learning Outcome: </h5></strong><strong>{{ out_come.description }}</strong></p>
                {% empty %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-warning">No Learning Outcome provided</h5>
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-8">
                        {% for note in item.notes.all %}
                            <p>{{ note.content|safe }}</p>
                        {% empty %}
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="text-warning">No Learning Notes provided</h5>
                                </div>
                            </div>

                        {% endfor %}
                    </div>

                    <div class="col-md-4">
                        {% for image in item.images.all %}
                            <div class="card mb-3">
                              <img src="{{ image.image.url }}" alt="Image" class="custom-img img-fluid">
                              <div class="card-body">
                                <p class="card-text">{{ image.image }}</p>
                              </div>
                            </div>
                        {% empty %}
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="text-warning">No Images provided</h5>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>

            {% empty %}
                <div class="card-body">
                    <h5 class="text-warning">No Learning Outcome provided</h5>
                </div>
            {% endfor %}
        </ol>
            </div>
        </div>

    </div>
<style>
     .glass-card {
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 16px;
    border: 1px solid rgba(255,255,255,0.2);
    color: white;
}
</style>
{% endblock %}

