{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src="{% static 'images/elearning_home.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">E-Learning</h5>
            <p class="card-text">Access to Notes and Resources for all Strands and their Substrands</p>
            <p><a href="{% url 'learners_grades_list' %}" class="btn btn-info">View</a></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'images/assessment_platform.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Assessment Portal</h5>
            <p class="card-text">Access Exams and Assessment for various Subjects</p>
              <p><a href="{% url 'assessment_home' %}" class="btn btn-info">View</a></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static 'images/students.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Student Profile</h5>
            <p class="card-text"></p>
              <p><a href="#" class="btn btn-info">View</a></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}