{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Add File Resource {% endblock %}
{% block content %}

    <div class="container">
        <h1 class="text-white">Add File Resource </h1>
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                     {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-primary">Upload File</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}