{% extends 'base.html' %}
{% block title %} {{ assessment }} Analysis {% endblock %}
{% block content %}
    <div class="row">
        <div class=" d-flex justify-content-between">
            <h2>{{ assessment }}</h2>
             <a href="{% url 'assessment_analysis_pdf' assessment_id %}" class="btn btn-info">Print</a>
        </div>
    </div>
    <div class="row">
        <h5>{{ assessment.teacher }}, {{ assessment.grade }}</h5>
    </div>

    <hr>
    <ol class="list-group list-group-numbered">
        {% for item in assessment_result_list %}
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{ item.student.first_name }} {{ item.student.second_name }}</div>

                </div>
                  <div class="d-flex justify-content-end">
                      <span class="badge text-bg-warning rounded-pill">Score: {{ item.total_score }}</span>
                      <span class="badge text-bg-info rounded-pill">{{ item.student.grade }}</span>
                      <a href="{% url 'assessment_result' item.pk %}" class="btn btn-light btn-sm">View</a>
                      <a href="#" class="btn btn-primary btn-sm">Print</a>
                  </div>

              </li>
        {% empty %}
            <li>
                <h2>No Exam Listed by Learners yet.</h2>
            </li>
        {% endfor %}
    </ol>
{% endblock %}