{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class=" d-flex justify-content-between">
            <h2>{{ assessment }}</h2>
             <a href="{% url 'assessment_analysis_pdf' assessment_id %}" class="btn btn-info">Print</a>
        </div>
    </div>
    <div class="row">
        <h5>{{ assessment.teacher }}, {{ assessment.grade }}</h5>
    </div>
    <div class="row">
        <h6>{{ assessment.created }}</h6>
    </div>
    <br>
    <ol class="list-group list-group-numbered">
        {% for item in assessment_result_list %}
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{ item.student }}</div>
                  <a href="{% url 'assessment_result' item.pk %}">View</a>
                </div>
                <span class="badge text-bg-warning rounded-pill">Score: {{ item.total_score }}</span>
              </li>
        {% empty %}
            <li>
                <h2>No Exam Listed by Learners yet.</h2>
            </li>
        {% endfor %}
    </ol>
{% endblock %}