{% extends 'base.html' %}
{% block title %} {{ assessment }} Analysis {% endblock %}
{% block content %}
    <div class="row">
        <div class=" d-flex justify-content-between">
            <h2>{{ assessment }}</h2>
             <a href="{% url 'assessment_analysis_pdf' assessment_id %}" class="btn btn-info">Print</a>
        </div>
    </div>
    <div class="row">
        <h5>{{ assessment.teacher }}, {{ assessment.grade }}</h5>
    </div>

    <hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Grade</th>
      <th scope="col">Score(s)</th>
      <th scope="col">Percentage</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for item in assessment_result_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><strong>{{ item.student.first_name }} {{ item.student.second_name }} {{ item.student.third_name }}</strong></td>
            <td><span class="badge text-bg-info rounded-pill">{{ item.student.grade }}</span></td>
            <td><span class="badge text-bg-warning rounded-pill">Score: {{ item.total_score }}</span></td>
            <td><span class="badge text-bg-primary rounded-pill">{{ item.percentage }} %</span></td>
            <td>
                <a href="{% url 'assessment_result' item.pk %}" class="btn btn-light btn-sm">View</a>
                <a href="#" class="btn btn-primary btn-sm">Print</a>
            </td>
        </tr>
    {% empty %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}